.spacing {
	line-height: 1.6;
}

.navbar {
  overflow: hidden;
  background-color: #ffd1dc;
margin-left:25px;
margin-top: -10px;
}

.navbar a {
  float: left;
  font-size: 16px;
	font-family: system-ui, sans-serif;
  color: red;
  text-align: center;
  padding: 25px 0px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
font-family: system-ui, sans-serif;
}

.dropdown .dropbtn {
  font-size: 32px;  
  border: none;
  outline: none;
  color: red;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffd1dc;
	color: blue;
}

.dropdown-content {
  display: none;
font-family: system-ui, sans-serif;
  position: absolute;
  background-color: #ffd1dc;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
font-family: system-ui, sans-serif;
  color: red;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
font-size:20px;
}

.dropdown-content a:hover {
  background-color: #ffd1dc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fixed {
max-width: 700px;
margin:auto;
padding:30px;
}
